{% extends 'base.html' %}
{% block title %}
    {{name}}
{% endblock %}
{% block content %}

        {% if meetings['scheduleItems']|length == 0 %}
        <h2>
            No Meetings Found for Today
        </h2>
    {% else %}
<div style="position:relative">
{% for hour in range(10) %}
    <div class="hour" style="top:{{hour * 120}}px">
        <h2>
        {{hour + 8}}
        </h2>
    </div>
    {% endfor %}
<div class="time" style="top:{{meetings['currenttime']}}px">Now</div>
<div>
    {% for item in meetings['scheduleItems'] %}
        <div class="meeting" style="height:{{item['length']}}px; top:{{item['offset']}}px">
            {{item['subject']}} ({{item['start']['dateTime']}} - {{item['end']['dateTime']}})
        </div>
    {% endfor %}
</div>
</div>
<!--
<table class="table table-striped table-sm">
    <thead>
    <tr>
        <th>
            Start Time
        </th>
        <th>
            End Time
        </th>
        <th>
            Booked By
        </th>
    </tr>
    </thead>
    <tbody>
    {% for item in meetings['scheduleItems'] %}
    <tr>
        <td>
            {{item['start']['dateTime']}}
        </td>
        <td>
            {{item['end']['dateTime']}}
        </td>
        <td>
            {{item['subject']}}
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
-->
    {% endif %}
{% endblock %}