{% extends 'base.html' %}
{% block title %}
    {{name}}
{% endblock %}
{% block content %}

        {% if meetings['scheduleItems']|length == 0 %}
        <h2>
            No Meetings Found for Today
        </h2>
    {% else %}
<div style="position:relative">
    {% for hour in range(10) %}
        <div class="hour" style="top:{{hour * 120}}px">
            <h2>
            {{hour + 8}}
            </h2>
        </div>
        {% endfor %}
    {% for hour in range(10) %}
        <div class="time marker" style="top:{{hour * 120}}px"></div>
    {% endfor %}
    <div>
        {% for item in meetings['scheduleItems'] %}
            <div class="meeting" style="height:{{item['length']}}px; top:{{item['offset']}}px">
                <span>{{item['subject']}} ({{item['start']['dateTime']}} - {{item['end']['dateTime']}})</span>
            </div>
        {% endfor %}
    </div>
    <div class="time" style="top:{{meetings['currenttime']}}px">Now</div>
    <div class="time worktime" style="top:120px">Start of Day</div>
    <div class="time worktime" style="top:1140px">End of Day</div>
</div>
    {% endif %}
{% endblock %}